/**
 * Set image elements
 */
img {
  max-width: 100%;
}
img + em {
  display: block;
  text-align: center;
}

.home-arrow {
  background-image: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  opacity: 0.9;
  position: fixed;
  top: 50px;
  left: 50px;
  &:hover{
    opacity: 1;
  }
  @include media-query($on-laptop) {
    top: 90%;
    left: 90%;
    height: 30px;
    width: 30px;
    opacity: 0.6;
  }
}
